.container {
    margin: 0 auto;
    padding: 20px;
    width: 100%; /* Ensures the container takes full width by default */
    max-width: 960px; /* Default max width */
}

@media (max-width: 960px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 300px;
  }
}
